<%= form_tag products_path, method: :get do %>
 <p class = "search-asset">
    <%= autocomplete_field_tag :search, params[:search], autocomplete_product_asset_name_products_path, :placeholder => 'Asset Name', autocomplete: "off" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class = "asset_table">
	<table class = "header_table">
		<thead>
			<tr>
		    <th> Asset Name 
          <%= link_to image_tag("up_arrow.png", :border => 0, size: "20x20"), products_path(:sort => "asc"), :class => "sort_img" %>
          <%= link_to image_tag("down_arrow.png", :border => 0, size: "20x20"), products_path(:sort => "desc"), :class => "desc_img" %>
        </th>
		  
		    <th> Asset Type
          <%= link_to image_tag("up_arrow.png", :border => 0, size: "20x20"), products_path(:sort => "type_asc"), :class => "sort_img" %>
          <%= link_to image_tag("down_arrow.png", :border => 0, size: "20x20", class: :desc_arrow), products_path(:sort => "type_desc"), :class => "desc_img" %>
        </th>
		  
		    <th>Asset Code</th>
		  
		    <th>User</th>
	    </tr>
		</thead>
	</table>  
  <div class = "asset_list_body">
  	<table id = "asset_list">
  		<tbody id = "table_content_list">
  		  <% @products.each do |product|  %>
  		   <tr class = "asset_list_row"> 
  				  <td class = "name_td">
  					  <div class= "asset_img"><%= image_tag(product.image, :size => "40x40") %></div>
  					  <div class = "asset_fieldname"><%= product.asset_name %></div>
  				  </td>
  				  <td class = "assetType">
  					  <%= product.product_type.asset_type %>
  				  </td>

  				  <% product.inventories.each do |inventory| %>
		          <td><%= inventory.asset_code %></td>
		          <% if inventory.user_id == nil %>
		            <td class = "user_td">In Shelf
		            	<div class = "arrow_div_down">
		            		<%= image_tag("arrow.svg", :size => "20x20") %>
		            	</div>
		            </td>
		          <% else %>
		            <td class = "user_td">
		          	  <div class = "user_div"><%= inventory.user.email %></div>
		          	  <div class = "arrow_div_down">
		            		<%= image_tag("arrow.svg", :size => "20x20") %>
		            	</div>
		            </td>
		          <% end %>
		          <% break %>
		        <% end %>
		      </tr>
          
          <tr class = "asset_assign">
						<td   colspan = "5" class = "assign_table">
							<div class = "assign_image">
                <%= image_tag(product.image) %>
              </div>
              <div class = "edit_asset">
              	<p class = "edit_head"><%= product.asset_name %></p>
                <p>Type: <label class = "edit_asset_input"><%= product.product_type.asset_type %></label></p>
                <p>Code: <%= collection_select(product.inventories, :id,product.inventories.all, :id, :asset_code,{}, {class: :select_code}) %>
                </p>
              </div>
               
              
              
              <div class = "asset-user">
                <% product.inventories.each do |inventory| %>
                 
                  <% if inventory.user_id == nil %>
                  <p class = "user-state">
                    In Shelf
                  </p>
                  <% else %>
                    <p class = "user-state">
                      <%= inventory.user.email %>
                    </p>
                  <% end %>
                  

                  <div class = "assign_datalist">
                    <%= text_field_tag nil, nil, :id => 'asset_user_name', :class => "input_datalist", data: {autocomplete_source: User.asset_user.map { |t| { :label => t.email, :value => t.id } } } %>
                    <%= hidden_field :user_id, id: 'user_id' %>
                    
                  </div>

                    <div class = "arrow_div_up">
                      <%= image_tag("arrow.svg", :size => "20x20") %>
                    </div>
                    <div class = "btn_td">
                      
                      <button class = "btn-green">ASSIGN</button>
                      <button class = "btn-green">ASSIGN TO ME</button>
                      <button class = "btn-red">REQUEST RELEASE</button>
                    </div>
                <% break %>  
                <% end %>
                
              </div>
              
              
						</td>
          </tr>
          
  		  
  		  <% end %>
  		</tbody>
  	</table>
  </div>
</div>

<%= paginate @products %>

